<div class="container my-4 ">
    <h4>Add your Todos :</h4>
    <form (ngSubmit)="OnSubmit()">
        <div class="form-group ">
            <label for="title">Todo Title</label>
            <input type="text" [(ngModel)]="title" (input)="updateDisabledState()" class="form-control w-25" id="title" name="title"
                aria-describedby="title">
        </div>
        <div class="form-group">
            <label for="desc">Todo Description</label>
            <input type="text" class="form-control w-25" name="desc" id="desc" [(ngModel)]="desc" (input)="updateDisabledState()">
        </div>
        <button type="submit" class="btn btn-sm btn-success mt-2" [disabled]="isDisabled" >Add Todo</button>
    </form>
</div>